.fade-event-enter-active {
  transition: opacity 50ms $easeOutQuad;
}
.fade-event-leave-active {
  transition: opacity 300ms $easeOutQuad;
}

.fade-event-enter,
.fade-event-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 300ms $easeOutQuad;
}
.fade-leave-active {
  transition: opacity 300ms $easeOutQuad;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-left-enter-active,
.fade-left-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
  transition: opacity 300ms $easeOutQuad, transform 300ms $easeOutQuad;
}

.fade-right-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.fade-right-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-left-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-left-enter {
  opacity: 0;
  transform: translateX(30px);
}

@keyframes noiseAnimation {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(10%);
  }
  80% {
    transform: translate(-15%);
  }
  90% {
    transform: translate(10%, 5%);
  }
  to {
    transform: translate(5%);
  }
}

@keyframes spin {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}