.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  @include bpMedium {
    padding: 0 40px;
  }
}