@import './_variables';
// TODO: import language files as necessary

// Stickersheet breakpoint helper mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2 == false {
    @media ($maxmin: $mq01) {
      @content;
    }
  }
  @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

// Stickersheet mixin
@mixin sticker-sheet-map($sticker-sheet-map) {
  @each $breakpoint, $map in $sticker-sheet-map {
    @if $breakpoint == null {
      @each $prop, $value in $map {
        #{$prop}: $value;
      }
    } @else {
      @include breakpoint($breakpoint, false, min-width) {
        @each $prop, $value in $map {
          #{$prop}: $value;
        }
      }
    }
  }
}

// Step 1: Define indivudal breakpoint settings for each entity. Mobile first!
// TODO: Define your project Figma file/lead creative's settings for each entity here.

// Typography
$h1-small-map: (
  font-size: 24px,
  line-height: 29px,
);

$h1-map: (
  font-size: 41px,
  line-height: 49px,
);

$h2-small-map: (
  font-size: 18px,
  line-height: 25px,
);

$h2-map: (
  font-size: 40px,
  line-height: 48px,
);

$h3-map: (
  font-size: 18px,
  line-height: 22px,
);

$h4-small-map: (
  font-size: 16px,
  line-height: 19px,
);

$h4-map: (
  font-size: 20px,
  line-height: 24px,
  text-transform: uppercase,
  letter-spacing: 1px,
);

$body-small-map: (
  font-size: 14px,
  line-height: 25px,
);

$body-map: (
  font-size: 16px,
  line-height: 29px
);

$source-map: (
  font-size: 12px,
  line-height: 22px
);

$h1-sticker-sheet: (
  null: $h1-small-map,
  $md: $h1-map,
);
$h2-sticker-sheet: (
  null: $h2-small-map,
  $md: $h2-map,
);
$h3-sticker-sheet: (
  null: $h3-map,
);
$h4-sticker-sheet: (
  null: $h4-small-map,
  $md: $h4-map,
);
$body-sticker-sheet: (
  null: $body-small-map,
  $md: $body-map,
);
$source-map: (
  null: $source-map,
);

// Step 3: Import sticker sheet maps to their appropriate rules.
body {
  h1, h2, h3 {
    font-family: $fontHeadline;
    font-weight: normal;
  }
  h1 {
    @include sticker-sheet-map($h1-sticker-sheet);
  }
  
  h2 {
    @include sticker-sheet-map($h2-sticker-sheet);
  }
  h3 {
    @include sticker-sheet-map($h3-sticker-sheet);
  }
  h4 {
    font-family: $fontAccent;
    @include sticker-sheet-map($h4-sticker-sheet);
  }
  button {
    font-family: $fontAccent;
    letter-spacing: 1px;
    cursor: pointer;
  }
  p, a, input, select {
    @include sticker-sheet-map($body-sticker-sheet);
    font-family: $fontBody;
    &.source {
      @include sticker-sheet-map($source-map);
    }
  }
}
